@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Lilita+One&family=Londrina+Sketch&family=Permanent+Marker&family=Sixtyfour+Convergence&display=swap');

*{
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: brown;
}
