h1 {
  background-color: peachpuff;
  color: blueviolet;
  text-align: center;
  font-size: 15px;
}

p {
  background-color: darkcyan;
  color: white;
  text-align: right;
  padding-bottom: 50px;
  font-size: 20px;
}